@import "../../themes/nashnumTheme.scss";

ng2-smart-table{
  margin: 20px auto;
  display: block;

  @media(min-width: 600px) {
    max-width: 50% !important;
    display: block;
    margin: 40px auto;
  }

  /deep/ th.ng2-smart-th{
    color: mat-color($nashnum-app-primary, 1);
    //font-weight: 500;
  }

  /deep/ th.ng2-smart-th{
    border-bottom: solid 1px;
    margin-bottom: 10px;
  }
}

/deep/ table-cell-view-mode{
  text-align: center;
}

.toolbar-spacer {
  flex: 11 auto;
}

mat-toolbar {
  padding: 0;
}