<mat-toolbar>
  <mat-toolbar-row>
    <span>What is nashnum?</span>
    <button mat-button routerLink="/mode">Back</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="info">
  <p>The <strong>Nashville Number System</strong> is a method of transcribing music by denoting the scale degree on which a chord is built. It was developed by Neal Matthews in the late 1950s as a simplified system for The Jordanaires to use in the studio and further developed by Charlie McCoy.</p>
  <p>Instead of using chords (like "G, D, Em, C"), the NNS uses numbers, and the numbers represent scale degrees. For example, in the key of C, it would be: C=1, Dm=2, Em=3, F=4, G=5, Am=6, G#º=7, C=1. The chart below makes this clear for each of the keys:</p>
</div>
<table wt-responsive-table>
  <tr>
    <th *ngFor="let header of displayedColumns">{{header}}</th>
  </tr>
  <tr *ngFor="let keyRow of keys">
    <td>{{keyRow[0]}}</td>
    <td *ngFor="let item of keyRow">{{item}}</td>
  </tr>
</table>