@import '~@angular/material/theming';
$nashnum-app-primary: mat-color($mat-cyan, 500);
$nashnum-app-accent:  mat-color($mat-pink, A200);

p{
  padding: 0 15px 0 15px;
}

table{
  width: 100%;
  padding: 10px;
}

tr{
  display: flex;
  border-left: solid 1px #dcdcdc;
  border-right: solid 1px #dcdcdc;
  padding: 10px;
  justify-content: space-evenly;

  &:first-child{
    border-top: solid 1px #dcdcdc;
    border-bottom: solid 1px #dcdcdc;
  }dcdcdc

  &:last-child{
    border-bottom: solid 1px #dcdcdc;
  }

  &:nth-child(even){
    background: #eaeaea;
  }

  th,td{
    width: 40px;
    text-align: left;
  }
}

.info{
  margin-top: 20px;
  color: #666666;
  a{
    color: $nashnum-app-primary;
    &:visited,
    &:hover,
    &:active,
    &:link{
      color: $nashnum-app-primary;
      text-decoration: none;
    }
  }

  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  @media(max-width: 500px){
    width: 99%;
    margin-top: 20px;
  }

  p span{
    margin-left: 10px;
  }
}

table{
  width: 90%;
  margin: 0 auto;
  @media(max-width: 500px){
    width: 99%;
  }

  th{
    color: $nashnum-app-primary;
  }
}

mat-toolbar-row{
  justify-content: space-between;
}
