<mat-toolbar>
  <mat-toolbar-row>
    <span>What is Nashnum?</span>
    <button mat-button routerLink="/mode">Back</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="info">
  <p>Nashnum is a simple tool made to help musicians become more familiarized with the <strong><a href="https://en.wikipedia.org/wiki/Nashville_number_system">Nashville Number System</a></strong>.</p>
  <p>The Nashville Number System is a method of transcribing music by denoting the scale degree on which a chord is built. It was developed by Neal Matthews in the late 1950s as a simplified system for The Jordanaires to use in the studio and further developed by Charlie McCoy.</p>
  <p>Instead of using chords (like "G, D, Em, C"), the NNS uses numbers, and the numbers represent scale degrees.<br>For example, in the key of C, it would be:<br>C = 1, Dm = 2, Em = 3, F = 4, G = 5, Am = 6, Bº = 7.<br></p>
  <p>The chart below makes this clear for each of the keys:</p>
</div>
<table wt-responsive-table>
  <tr>
    <th *ngFor="let header of displayedColumns">{{header}}</th>
  </tr>
  <tr *ngFor="let keyRow of keys">
    <td><strong>{{keyRow[0]}}</strong></td>
    <td *ngFor="let item of keyRow">{{item}}</td>
  </tr>
</table>