@import '~@angular/material/theming';
$nashnum-app-primary: mat-color($mat-cyan, 500);
$nashnum-app-accent:  mat-color($mat-pink, A200);

mat-chip {
  max-width: 75%;
  font-size: 130%;
  height: 40px;
  margin-bottom: 15px !important;
}

/deep/ mat-chip-list.mat-chip-list-stacked.mat-chip-list div.mat-chip-list-wrapper {
  margin: 50px auto;
  align-items: center !important;
}

.mat-display-3{
  border-radius: 50%;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 30px;
  letter-spacing: 0;
}

.key-display{
  margin-top: 30px;
  text-align: center;
  mat-chip{
    width: 120px;
    justify-content: center;
  }
}

.disable-choice{
  opacity: .5;
  pointer-events: none;
}

.answer-wrong{
  background: $nashnum-app-accent;
}

.answer-correct{
  background: #00c853;
}

.answer-icon{
  color: white;
  font-size: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}