/* You can add global styles to this file, and also import other style files */
@import "./normalize.css";
@import "./themes/nashnumTheme.scss";
@include mat-core();
@include angular-material-theme($nashnum-app-theme);
$custom-typography: mat-typography-config($font-family: '"Lato", sans-serif;');
@include mat-core($custom-typography);


.background-primary{
  background: mat-color($nashnum-app-primary, 1);
  color: white;
}

.font-primary{
  color: mat-color($nashnum-app-primary, 1);
}

body *{

  &:not(mat-icon){
    font-family: 'Lato', sans-serif !important;
  }
}


